.tag{
    width: auto;
    min-width: 115px;
    height: 30px;
    position:relative;
    margin-right:5px;
    padding-left: 10px;
    padding-right: 5px;
    padding-top:2px;
    color:white;
    margin-bottom:10px;
}

.tag-filter{
    background-color:#28aae1
}
.tag-cross{
    float:right;
    margin-left:5px;
    
}
.tag-locationtype{
    background-color:rgb(28, 66, 87);
}
.tag-city{
    background-color:#253764
}
.tag-container{
    background-color:#e4dfdf;
    height:100%;
    display:inline-flex;
    width:100%;
    overflow-x:scroll;
    padding-left:0.5rem;
}