.mapheader-left button{
    
    background-color: rgb(83, 122, 144);
}

.mapheader-text{
    margin-left:20px;
    color:white;
}
.mapheader-left{
    margin-left:20px;
    margin-right:20px;
    top:10px;
    position:relative;
}

.component{
    top: -30px !important;
    height:650px !important;
    padding-top:10px;
    max-height: 650px !important;
    overflow-y: auto;
}
.image-gallery-container{
    width: 40%;
    top: 0px;
    left: 200px;
    position: absolute;
    z-index: 4;
}
.component button{
    margin-left: 20px;
    background-color: rgb(83, 122, 144);
}
.mapheader-results{
    float: right;
    margin-right: 20px;
    color: white;
}
.mapheader-container{
    position:relative;
    top:0;
    height:50px;
    background-color:rgb(28, 66, 87);
    /* border-radius: 20px 20px 0px 0px; */
}
.side-slider-data{
    padding-top:10px;
    min-width:150px;
}
.map-side-slider h4{
     font-weight: 100;
    color:gray;
}

.map-slider{
    top:-650px !important;
}
.map-side-slider{
    width:200px;
    z-index:1;
    overflow-y:auto;
    height: 600px;
    max-height: 600px;
    background-color:white;
    position:relative;
    top:20px;
    
}