.mapheader-left button{
    
    background-color: rgb(83, 122, 144);
}

.mapheader-text{
    margin-left:20px;
    color:white;
}
.mapheader-left{
    margin-left:20px;
    margin-right:20px;
    top:10px;
    position:relative;
}
.mapheader-helpers{
    
}
.component{
    top: -30px !important;
    height:550px !important;
    padding-top:10px;
}
.component button{
    margin-left: 20px;
    background-color: rgb(83, 122, 144);
}
.mapheader-results{
    float: right;
    margin-right: 20px;
    color: white;
}
.mapheader-container{
    position:relative;
    top:0;
    height:50px;
    background-color:rgb(28, 66, 87);
    /* border-radius: 20px 20px 0px 0px; */
}
.side-slider-data{
    padding-top:10px;
}
.map-side-slider h4{
     font-weight: 100;
    color:gray;
}

.map-slider{
    top:-650px !important;
}
.map-side-slider{
    width:200px;
    z-index:1;
    height:500px;
    background-color:white;
    position:relative;
    top:20px;
    
}