.form-container{
    width:75%;
    margin:0 auto;
    padding-bottom:5rem;
}
.edit-form-container{
  width:75%;
  padding-bottom:5rem;
}
.form-container h4{
    margin-bottom:50px;
}
.btn-primary{
    background: #28aae1 !important;
    border-color:#28aae1 !important;
    color: #fff !important;
    height: 40px;
    width: 120px;
}
.upload-btn-disabled{
  pointer-events:none;
  opacity: 0.5;
}

@media only screen and (max-width: 752px) {
    .btn-primary {
      width:80px;
    }
  }
  @media only screen and (max-width: 576px) {
    .form-container {
      width:95%;
    }
  }
.btn-primary:hover{
    background-color:#f04150 !important;
    /* background: #28aae1; */
}