/* general */
.admin-panel{
    padding-top:70px;
    min-width:190px;
    width:10%;
    background-color: #253764;
    position:relative;
    float:left;
    padding-bottom:37%;
  
}
.admin-content-container{
    width:100%;
    margin-left: 1rem;
    margin-top: 1rem;
}
.info-close-button{
    background-color: #28aae1;
    float:right;
    position: absolute;
    top: 5px;
    right: 5px;
}
.react-confirm-alert-overlay{
    z-index: 1400;
}
.single-location-container{
    padding: 5rem;
    padding-top: 5rem;

}
.react-confirm-alert-button-group button{
    background-color: #28aae1 !important;
}
.admin-filter-button{
    margin-top: 2rem;
    margin-left: 1rem
}
.admin-settings-container{
    padding-left:1rem;
}
.info-close-button:hover{
    background-color:#f04150;
}
.admin-info-dialog{
    width:auto;
    position:absolute;
    background-color:white;
}

.info-button{
    width:90px;
}


/* list items */
.list-group-item{
    background-color:initial;
    color:white;
    border: none;
    cursor: pointer;
}
.admin-list{
    margin-right:1px;
}
.sort-icon{
    float:right;
    opacity:0.5;
}
.inverse-icon{
    transform: rotate(-180deg);
}
.list-item-button-container{
    margin-left:30px;
    float:right;
}
.list-item-button-container button{
    margin-left:10px;
}
.active{
    background-color: #28aae1 !important;
}
.list-item-text-container span{
    display:flex;
    margin-right:20px;
}
.list-item-text-container{
    display:inline-flex;
}

/* location page */
.location-list-item{
    border:1px solid black;
    margin-bottom:1px;
}

.location-list-container{
    display:grid;
}

.tab-selected{
     background-color:white;
     color:gray;   
}
.region-notification-select{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.user_info_container{
    margin-top:1rem;
}
.password_change_container{
    margin-top:1rem;
}
.notification_container{
    margin-top:1rem;
}
.user-table-container{
    margin-top:1rem;
}
.admin-data-container{
    margin-top:70px;
    display:inline-flex;
    width:75%;
    height:100%;
}
.admin-data-container h3{
    margin-bottom:30px;
}
.admin-container{
    display:inline-flex;
    width:100%;
}
.admin-location-count{
    width:90px;
    margin-right:10px;
    margin-left:30px;
}
.location-title-select{
    display:flex;
}
@media only screen and (max-width: 768px) {
    .admin-filter-button {
        margin-top: 0rem;
        margin-left: 0.3rem;  
    }
    .admin-panel{
        padding-bottom:0;
        width:100%; 
       
    }
    .admin-container{
        display:block;
    }
    
    .admin-data-container{
        margin-top:20px;
        width:90%;
       
    }
  }

