/* general */
.admin-panel{
    padding-top:70px;
    padding-bottom:100%;
    width:9%;
    background-color: #253764;
    position:relative;
    float:left;
    height:100%
}
.admin-content-container{
    width:91%;
    margin-left:1%;
}


/* list items */
.list-group-item{
    background-color:initial;
    color:white;
    border: none;
}
.admin-list{
    margin-right:1px;
}

.list-item-button-container{
    margin-left:30px;
    float:right;
}
.list-item-button-container button{
    margin-left:10px;
}
.active{
    background-color: #28aae1 !important;
}
.list-item-text-container span{
    display:flex;
    margin-right:20px;
}
.list-item-text-container{
    display:inline-flex;
}

/* location page */
.location-list-item{
    border:1px solid black;
    margin-bottom:1px;
}

.location-list-container{
    display:grid;
}


