.inputform-container{
    width: 100%;
    height: 90px;
    background-color: #e4dfdf;
    position: relative;
    display:inline-flex;
}
.inputform-select{
    /* width: 250px; */
    /* margin-top:1rem; */
    
}
.form-select-input{
    margin-left: 0 !important;
}
.inputform-textinput{
  
}
.inputform-inputs{
    height: inherit;
    /* display: inline-flex; */
    width:100%;
    /* margin: 0 auto; */
    margin-left:0.5rem;
    margin-right:0.2rem;
    position:relative;
    top:0.5rem;
}
.inputform-inputs-button{
    /* margin-left:1rem; */
    margin-top: 1.5rem;
}


.inputform-checked{
    width:10px;
    height:10px;
    background-color:#253764;;
    z-index:51
}

.inputform-checked:hover{
    background-color:#28aae1;
    
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #3344ff;
    color:black;
  }

.inputform-title{
    position:relative;
    top:-5px;
}
.form-row{
    margin-right:0;
}


@media only screen and (max-width: 752px) {
    .inputform-container{
        height: 300px;
    }
    .inputform-inputs .form-row{
        display:block;
    }
  }