.header-container{
    width: 100%;
    height:70px;
    top:0;
    z-index:6;
    position:fixed;
    background-color:#253764;
}
.header-container-text{
    font-size: 20px;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
}

.header-login-button{
    float: right;
    padding: 10px;
}
.header-user-container{
    color:white;
    margin-right:5px;
}
.header-user-container button{
    margin-left:5px;
  
}
.header-user-container u{
    cursor: pointer;
}
.left-header-container{
    float: right;
    display: flex;
    flex-direction: column;
}
.language-icon{
 
    float:right;
      
}
.language-menu{
    float:right;
}
.inverse-icon-lang{
 transform: rotate(-180deg);
}
.language-menu-container{
    float: right;
}
.language-menu-container span{
    color:white;
}
.language-menu-item{
    display:inline-flex;
    margin-right:5px;
    
}
.language-menu-item:hover{
    cursor: pointer;
}
.lang-selected{
    font-weight: bold;
    text-decoration: underline;
}
