.header-container{
    display:flex;
    justify-content: space-between;
    width: 100%;
    height:70px;
    top:0;
    z-index:6;
    position:fixed;
    background-color:#253764;
}
.header-container-text{
    font-size: 20px;
    color: white;
   
}

.left-header-container{
    display:flex;
    margin-top: 20px; 
    margin-left: 20px;
}
.left-header-container a{
    color:white;
}
.header-alert{
    margin-top:70px;
    margin-bottom:-70px;
   
}
.header-notification{
    margin-left:20px;
    color:white;
    cursor: pointer;
}
.header-notification a{
    color:black;
}

.header-login-button{
    float: right;
    padding: 10px;
}
.header-user-container{
    color:white;
    margin-right:5px;
}
.header-user-container button{
    margin-left:5px;
  
}
.header-user-container u{
    cursor: pointer;
}
.right-header-container{
    display: flex;
    flex-direction: column;
}
.language-icon{
 
    float:right;
      
}
.language-menu{
    float:right;
}
.inverse-icon-lang{
 transform: rotate(-180deg);
}
.language-menu-container{
    float: right;
}
.language-menu-container span{
    color:white;
}
.language-menu-item{
    display:inline-flex;
    margin-right:5px;
    
}
.language-menu-item:hover{
    cursor: pointer;
}
.lang-selected{
    font-weight: bold;
    text-decoration: underline;
}
