.frontpage-container{
    width:100%;
    height:100%;
}
.frontpage-image-container{
    width: 100%;
    height: 240px;
    position: relative;
    top: 60px;
}
.frontpage-image-container img{
    width: 100%;
    height: 550px;
    position: relative;
    top: -300px;
    z-index:-1;
}
.login-form{
    width: 50%;
    margin: 0 auto;
    margin-top:15%;
}
.admin-data-container{
    margin-top:70px;
}
body {
    font-family: 'PT Sans', sans-serif;
}
body h1, h2, h3, h4, h5, h6{
    font-family: 'Source Sans Pro', sans-serif;
}



