.map-container{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    padding-bottom: 1rem;
    padding-top:1rem;
    top: 0;
    position: relative
}
.map{
    background-color: black;
    width:75%;
    height: auto;
    min-width:310px;
    margin:0 auto;
    /* border-radius:20px; */
}
.marker-cluster-custom{
    background-color:rgb(28, 66, 87);

    border-radius:50px;
    /* width:100px; */
}
.marker-cluster-label{
  margin-top:10px;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leaflet-container {
  height: 600px;
  min-width:310px;
  width:100%;
  z-index:0;
  /* width: 800px; */
}

@media only screen and (max-width: 576px) {
    .map {
      width:95%;
    }
  }

.main-header{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size:60px;
    color:white;
}